.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./images/login.webp') no-repeat center center fixed; 
    background-size: cover;
    position: relative;
}

.login-form {
    /* padding: 20px; */
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background: #1616192a;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    /* bottom: 20px; */
    padding: 6em 2em;
    border-radius: 20px;
    width: fit-content;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    place-content: center;
}

.form-username, .form-password {
    margin: 2em 1em;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label {
    color: #f5f5f5;
    font-size: larger;
    font-weight: 500;
    padding: .3em;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input {
    color: whitesmoke;
    background-color: black !important;
    width: 15em;
    font-size: large;
    font-weight: 300;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-header {
    font-weight: 700;
    font-size: xx-large;
    color: #f5f5f5;
}

.submit-btn button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #f2f8b7;
    background-color: #000000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.submit-btn button:hover {
    background-color: #f2f8b7;
    box-shadow: 0px 15px 20px rgba(160, 241, 84, 0.432);
    color: #000000;
    transform: translateY(-7px);
}

.submit-btn button:active {
    transform: translateY(-1px);
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.forgot-password {
    color: #000000;
}

.forgot-password > a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: larger;
    font-weight: 200;
}

@media only screen and (max-width: 700px ) {
    .login-form {
        bottom: 2em;
        left: 0;
        right: 0;
        padding: auto;
    }
}

@media only screen and (max-width: 500px ) {
    .login-form {
        bottom: 1.5em;
        left: 0;
        right: 0;
        padding: auto;
    }

    .form-username, .form-password {
        padding: .5em;
    }
    
    label, input, .form-header {
        font-size: normal;
        font-weight: normal;
    }
}